body {
    font-family: Arial;
    background-color: #f2f2f2;
}


.navbar {
    background-color: rgb(84, 8, 12);
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 18px;
}

.home {
    text-align: center;
    margin-top: 30px;
}


.form-box {
    background-color: pink;
    width: 300px;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
}


table {
    background-color: rgb(248, 144, 144);
    margin-top: 30px;
}